* {
    margin: 0;
    padding: 0;

}

.navbar1 {
    height: 80px;
    width: 1280px;
    background-color: #E0EBCB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}

.nav1-left {
    display: flex;
    position: relative;
    left: 0px;
    width: 200px;
}

.fb {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
