* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;

}

/*========================================-------NAVBAR1-----=====================================*/
.navbar1 {
    height: 80px;
    width: 1280px;
    background-color: #E0EBCB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;

}

.nav1-left {
    display: flex;
    width: 290px;
    height: 80px;
}

.fb {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #123800;
    margin-left: 50px;
    margin-top: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-fb,
.icon-in,
.icon-yt {
    font-size: 25px;
}

.yt,
.in {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #123800;
    margin-left: 20px;
    margin-top: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1-right {
    height: 50px;
    width: 630px;
    position: relative;
    top: 15px;
    left: 325px;
    gap: 15px;
    display: flex;
}

.ph-num,
.loc,
.email {
    width: 200px;
    height: 50px;
    background-color: #123800;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.icon-ph {
    margin-left: 20px;
}

.icon-loc,
.icon-email {
    margin-left: 20px;
    margin-right: 5px;
}

/*========================================-------NAVBAR2-----=====================================*/
.navbar2 {
    width: 1280px;
    height: 100px;
    display: flex;
    box-shadow: 0px 4px 4px 0px #0000001A;
}

.company-logo {
    height: 91.93132781982422px;
    width: 180px;
    background-image: url(../d2c4eb031009f022420868458a57e7fbd9fb48c8.png);
}

.nav-option {
    width: 523px;
    height: 24px;
    margin-top: 38.5px;
    margin-left: 620px;
    gap: 30px;
    display: flex;
    align-items: center;
}

.box-1 {
    width: auto;
    height: 24px;
}

.search-icon {
    font-size: 30px;

}

/*========================================-------HERO-1-----=====================================*/
.hero-1 {
    height: 395.7972717285156px;
    width: 1280px;
    background-image: url(../background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-1-top {
    height: 144px;
    width: 840px;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}

.hero-1-bottom {
    height: 54px;
    width: 840px;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}

/*========================================-------HERO-2-----=====================================*/
.hero-2 {
    height: 700px;
    width: 1280px;
    background-image: url(../wave.png);
    display: flex;
    gap: 30px;
    flex-direction: column;

}

.introduction {
    width: 560px;
    height: 75px;
    color: white;
    margin-left: 50px;
    margin-top: 50px;

}

.up,
.down {
    width: 1180px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;

}

.card1 {
    height: 220px;
    width: 575px;
    background-color: #E0EBCB;
    border-radius: 16px;
    box-shadow: 0 20 27 0 #0000000D;
    display: flex;
    align-items: center;
}

.pic-holder-1 {
    height: 188px;
    width: 173.2371826171875px;
    border-radius: 5px;
    margin-left: 15px;
    background-image: url(../picture1.jpg);
}

.description {
    height: 113px;
    width: 343.7099304199219px;
    color: #252F40;
    margin-left: 15px;
}

/*========================================-------HERO-3-----=====================================*/
.hero-3 {
    width: 1280px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client {
    text-align: center;
}

/*========================================-------HERO-4-----=====================================*/
.hero-4 {
    height: 372.59100341796875px;
    width: 1280px;
    background-color: #E0EBCB;
}

.message {
    height: 139.68109130859375px;
    width: 416px;
    position: absolute;
    top: 1563px;
    left: 240px;
}

.subscribe {
    width: 428px;
    height: 34px;
    position: absolute;
    top: 1675px;
    left: 240px;
    display: flex;
    justify-content: space-between;
}

.search-pannel {
    width: 301px;
    height: 34px;
    border-radius: 8px;
    border: 1px;
    padding-left: 10px;
}

.sub-button {
    width: 118px;
    height: 34px;
    border-radius: 8px;
    background-color: #123800;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}

.pic-holder-2 {
    height: 280px;
    width: 344px;
    background-image: url(../picture2.png);
    position: absolute;
    left: 720.67px;
    top: 1515.52px;
}

footer {
    height: 800px;
}

.info {
    background-color: #000000;
    color: #FFFFFF;
    height: 400px;
    width: 100%x;
    margin-top: 30px;
}

.icon-holder {
    width: 216.23300170898438px;
    height: 64.6213607788086px;
    display: flex;
    position: relative;
    top: 100px;
    left: 50px;
    justify-content: space-between;
}

.box-2 {
    background-color: #E0EBCB;
    height: 64.6213607788086px;
    width: 64.6213607788086px;
    border-radius: 100%;
    color: #123800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
}
